%footer
  Coming soon... We are preparing it all for you in Tokyo.
  .row.marginauto
    .col-xs-3
      サイト概要
    .col-xs-3
      %a{:href => "https://www.facebook.com/haru.okaniwa"} お問い合わせ
    .col-xs-3
      メールマガジン
    .col-xs-3
      ヘルプ