.bottombox
  .input-group
    %input.form-control{:placeholder => "(Coming Soon)", :type => "text"}
      %span.input-group-btn
        %button.btn.btn-default{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_searched.html", :type => "button"} 検索
