= render 'questions/header'
.content
  .space10px
  .space10px

  %h1 IBひろば

  .space10px
  .space10px
  .space10px
  %h3 探求型の国際教育に関する掲示板。
  .space10px
  .space10px
  .space10px
  %h3 対象は、
  .space10px
  %h3 意識の高い保護者の方々や教育関係者の方々です。
  .space80px
  .space80px
  .space80px
  .space80px
  .space80px
  .space80px


  / why i made it
  %h1 もっと、学ぶ楽しさ
  .space10px
  .space10px
  .space10px
  %h1 もっと、考える教育への関心を広めたい。

  / .space10px
  / .space10px
  / .space10px
  / %h1 しかし、
  / .space10px
  / .space10px
  / .space10px
  / %h1 広島や北海道から、飛行機でくるセミナー参加者

  .space80px
  / demo
  .space80px
  .space80px
  .space80px

  / do ppl want it?
  %h3 必要としている人がいる
  .space10px
  %h3 Facebook国際バカロレアコミュニティなど
  .space10px
  = image_tag "fbpg.png", id: ""
  .space80px

  %h3 必要としている人が増える
  .space10px
  .space10px
  %h3 国際バカロレア認定校等の大幅な増加を目指す（2018年までに200校）」
  .space80px
  .space80px
  = image_tag "research.png", id: ""
  .space80px
  .space80px

  %h3 ・インター校の評判
  %br
  %h3 ・IBプログラムへの編入・進路
  %br
  %h3 ・家庭での学習方法
  %br
  .space80px
  .space80px
  .space80px
  .space80px
  / 今の代替品

  .space80px
  .space80px
  .space80px
  .space80px
  / why i can succeed

  %br
  %h3 ・国際バカロレアプログラム
  %br
  %h3 ・英語
  %br
  %h3 ・留学
  .space80px
  .space80px
  .space80px
  .space80px
  / plan to scale
  / (monthlyにしてるといい)

  %br
  %h3 2015/4月~6月 開発
  %br
  %h3 2015/7月 　　IBセミナー開催（広島、東京など）
  %br
  %h3 2015/1月　　売却先と契約
  .space80px
  .space80px
  .space80px
  .space80px

= render 'questions/footer'