
.space10px
.space10px

%h1 IBひろば

.space10px
.space10px
.space10px
%h3 探求型の国際教育に関する掲示板。
.space10px
.space10px
.space10px
%h3 対象は、
.space10px
%h3 意識の高い保護者の方々や教育関係者の方々です。



/ why i made it


/ demo


/ 代替品

/ how its business
/  -do ppl want it? 
/ ----こういう(a few)お客さんがいました, or Number of users, tracks

/ why i can succeed


/ plan to scale
/ (monthlyにしてるといい)

.space10px
.space10px
.space10px
.space10px
.space10px
.space10px
= image_tag "research.png", id: ""

