
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center", id="speakers">
                    <h2 class="section-heading">登壇者</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://www.facebook.com/haru.okaniwa" target="_blank" class="portfolio-box">
                        <img src="https://unsplash.it/650/350?image=531" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    東京大学文科二類２年
                                </div>
                                <div class="project-name">
                                    <div>岡庭　晴</div>
                                    <div>
                                      ４年半で英インター高校を首席で卒業、国際バカロレア資格４５点満点を取得。
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="https://unsplash.it/650/350?image=534" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    東京大学文科二類２年
                                </div>
                                <div class="project-name">
                                    <div>沖　麻未</div>
                                    <div>
                                      公立小学校から私立桜蔭中学校に入学、同高校を卒業。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.yokogawa-musashino.com/%E9%81%B8%E6%89%8B%E7%B4%B9%E4%BB%8B%EF%BC%9A%E4%B8%8A%E7%94%B0%E9%99%B5%E5%BC%A5" target="_blank" class="portfolio-box">
                        <img src="https://unsplash.it/650/350?image=532" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    東京大学文科二類２年
                                </div>
                                <div class="project-name">
                                    <div>多田　憲介</div>
                                    <div>
                                    プロサッカーチームに所属しつつ、トルコ、ドイツ等にて国際バカロレアで学んだ。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.edubal.net/" target="_blank" class="portfolio-box">
                        <img src="https://unsplash.it/650/350?image=533" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    ご協力
                                </div>
                                <div class="project-name">
                                <div>
                                  東大家庭教師友の会 EDUBAL
                                </div>
                                <div>
                                  教師は全員帰国子女、現役の難関大生。
                                </div>
                                <div>
                                  インター/海外子女向けオンライン家庭教師のEDUBAL。
                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>