

%table
  %tr
    %th
      予約者名||
    %th
      メールアドレス||
    %th
      学校名||
    %th
      口コミ　　　　　　　　　　　　||
    %th
      セッション名||
    %th
      予約日時||
  - @events.each do |c|
    %tr
      %td
        =c.name
        ="||"
      %td
        =c.email
        ="||"
      %td
        -unless c.school==nil
          =c.school
        ="||"
      %td
        -unless c.comment==nil
          =simple_format(c.comment[0..20])

      %td
        =c.session
        ="||"
      %td
        =c.created_at



