<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>5/23(土)東大生による国際バカロレアセミナー</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SchoolChat</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">5/23（土）</h2>
                    <h2 class="section-heading">東大生による国際バカロレアセミナー</h2>
                    <div class="space10px"></div>
                    <div class="space10px"></div>
                    <h3 class="section-heading">国際バカロレア満点取得者と元桜蔭生が語る</h3>
                    <div class="space10px"></div>
                    <h3 class="section-heading">国内外の学びの違いと親ができること</h3>
                    <div class="space10px"></div>
                    <div class="space10px"></div>
                    <h4 class="section-heading">協力:東大家庭教師友の会　EDUBAL</h4>
                    <div class="space10px"></div>
                    <div class="space10px"></div>
                    <h4 class="section-heading">会場:東京都渋谷区渋谷2-14-17</h4>
                    <div class="space10px"></div>
                    <h4 class="section-heading">セッション１：10:00~12:00</h4>
                    <h4 class="section-heading">セッション２：14:00~16:00</h4>
                    <div class="space10px"></div>
                    <hr class="light">
                    <p class="text-faded"></p>
                    <a href="#register" class="btn btn-default btn-xl">Register Now!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Summary</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <div class="space10px"></div>
                        <div class="space10px"></div>
                        <h3>1. 世界で話題の国際バカロレアとは</h3>
                        <div class="space10px"></div>
                        <div class="space10px"></div>
                        <p class="text-muted">
                          <div>
                            今年から東大入試でも使うことができるようになった国際バカロレア資格。世界で注目される、幼稚園から高校までの教育プログラムです。
                          </div>
                          <div>
                            0.085%以下しかいない満点取得者の東大生　岡庭が、
                          </div>
                          <div>
                            その概要と幼稚園から高校までの進路の選択肢をご紹介します。
                          </div>
                        </p>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <div class="space10px"></div>
                        <div class="space10px"></div>
                        <h3>2.国際バカロレアと桜蔭の違い</h3>
<div class="space10px"></div>
<div class="space10px"></div>
                        <p class="text-muted"> 
                        <div>
                          具体的には日本の教育と、「先進的」といわれる海外の教育とはどう違うのか、
                        </div>
                        <div>
                          東大入試や学校生活などのエピソードを豊富にお伝えします。
                        </div>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <div class="space10px"></div>
                        <div class="space10px"></div>
                        <h3>3.それぞれの環境で親ができること</h3>
<div class="space10px"></div>
<div class="space10px"></div>
                        <p class="text-muted">
                        <div>
                          海外・帰国子女、そして国内生として育った私たちが、
                        </div>
                        <div>
                          質問もお受けしながら、家庭でのサポートを振り返ります。
                        </div>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <div class="space10px"></div>
                        <div class="space10px"></div>
                        <h3>4.Q＆A</h3>
<div class="space10px"></div>
<div class="space10px"></div>
                        <p class="text-muted">受験から課外活動、留学まで、</p>
                        <p class="text-muted">みなさまのご質問にお答えします。</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">登壇者</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://www.facebook.com/haru.okaniwa" target="_blank" class="portfolio-box">
                        <img src="https://unsplash.it/650/350?image=531" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    東京大学文科二類２年
                                </div>
                                <div class="project-name">
                                    <div>岡庭　晴</div>
                                    <div>
                                      中学二年時にジャカルタ日本人学校から転校し、イギリスのインターナショナルスクールへ通う。
                                    </div>
                                    <div>
                                      ４年半で高校を首席で卒業、国際バカロレア資格４５点満点を取得。
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="www.facebook.com/profile.php?id=100007986042335" target="_blank" class="portfolio-box">
                        <img src="https://unsplash.it/650/350?image=534" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    東京大学文科二類２年
                                </div>
                                <div class="project-name">
                                    <div>沖　麻未</div>
                                    <div>
                                      

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.yokogawa-musashino.com/%E9%81%B8%E6%89%8B%E7%B4%B9%E4%BB%8B%EF%BC%9A%E4%B8%8A%E7%94%B0%E9%99%B5%E5%BC%A5" target="_blank" class="portfolio-box">
                        <img src="https://unsplash.it/650/350?image=532" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    東京大学文科二類２年
                                </div>
                                <div class="project-name">
                                    <div>多田　憲介</div>
                                    <div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.edubal.net/" target="_blank" class="portfolio-box">
                        <img src="https://unsplash.it/650/350?image=533" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    ご協力
                                </div>
                                <div class="project-name">
                                <div>
                                  東大家庭教師友の会 EDUBAL
                                </div>
                                <div>
                                  教師は全員帰国子女、現役の難関大生。
                                </div>
                                <div>
                                  インター/海外子女向けオンライン家庭教師のEDUBAL。
                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action", id="register">
                <h2>お申し込み</h2>
                <h4>学校選択でみなさまのお役に立てるよう、</h4>
                <h4>ご存知の幼稚園・学校の評価をお書きください！</h4>
                <div class="space10px"></div>

                <%= form_for :event, url: events_path, method: :post do |f|%>
                <% if @event.errors.any?%>
                <div id: :"error_explanation">
                    <h2>
                      <%= pluralize(@question.errors.count, "error") %>
                      <br> このままでは投稿ができません。
                    </h2>
                    <ul>
                      <%- @question.errors.full_messages.each do |msg|%>
                        <li> msg </li>
                      </ul>
                        <% end %>
                      </div>
                        <% end %>

                <p>
                <div>
                  ご予約名
                </div>
                <div>
                  <%= f.text_field :name, :html =>{:class=>"input form-control", :placeholder=>"お名前", :type => "text", :size => "35"} %>
                </div>
                </p>
                <p>
                <div>
                  メールアドレス
                </div>
                <div>
                  <%= f.text_field :email, :html =>{:class=>"input form-control", :placeholder=>"example@example.com", :type => "text"} %>
                </div>
                </p>

                <p>
                <div>
                  お子様の幼稚園/学校
                </div>
                <div>
                  <%= f.text_field :school, :html =>{:class=>"input form-control", :placeholder=>"", :type => "text"} %>
                </div>
                </p>

                <p>
                <div>
                  お子様の幼稚園/学校についての評判・評価
                </div>
                <div>
                  <%= f.text_field :comment, :html =>{:class=>"input form-control comment", :placeholder=>"", :type => "text", :height=>"300px", :width=>"35px"} %>
                  <!-- <input type="text" name="comment" size="35" style="height:300px"> -->
                </div>
                </p>

                <p>セッション１：10:00~12:00</p>
                <p>セッション２：14:00~16:00</p>
                <div>
                  <%= f.radio_button :session, "5/24土セッション１ 10-12:00", id: :"session1" %>
                  <LABEL for="session1">セッション１</LABEL>
                  <%= f.radio_button :session, "5/24土セッション２ 14-16:00", id: :"session2" %>
                  <LABEL for="session2">セッション２</LABEL>
                </div>
                <%= f.submit '参加する', class: :"btn-default btn btn-xl"%>
                <% end %>
                <div class="space10px"></div>
                <h6> キャンセルは下記Contactよりお願いいたします。 </h6>
            </div>
        </div>
    </aside>

<div class="container text-center">
  <div class="call-to-action">
  <div class="space10px"></div>
  <div class="space10px"></div>
  <h4>会場への地図は<a href="https://goo.gl/maps/44NlE", target="_blank">こちら</a>から</h4>
    <h4>（渋谷駅から徒歩７分）</h4>
  <div class="space10px"></div>
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7010673223804!2d139.70603379999997!3d35.659735999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b58d6fce05f%3A0xe1795be772c7b128!2z44CSMTUwLTAwMDIg5p2x5Lqs6YO95riL6LC35Yy65riL6LC377yS5LiB55uu77yR77yU4oiS77yR77yX!5e0!3m2!1sja!2sjp!4v1430441436224" width="400" height="300" frameborder="0" style="border:0"></iframe> -->
  </div>
</div>

    <section id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr class="primary">

                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <p>700人規模コミュニティへはこちらから</p>
                    <div>
                      <i class="fa fa-facebook-square fa-3x wow bounceIn"></i>
                    </div>
                    <a href="https://www.facebook.com/groups/IB.Community.Japan" target="_blank" class="wow tada">国際バカロレアコミュニティ</a>
                </div>
                <div class="space10px"></div>
                <div class="space10px"></div>
                <div class="col-lg-4">
                    <p>お問い合わせはこちらから</p>
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:haru.okaniwa.52@facebook.com">EMAIL</a></p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
