<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>5/23(土)東大生による国際バカロレアセミナー</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">SCHOOLCHAT</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="#services">About</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#speakers">Speakers</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#register">Register</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#map">Map</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
          <%= notice%>


          <%- unless alert.nil?%>

          <%= alert%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <%= "------------------"%>
          <% end %>

            <h2 class="section-heading">5/23（土）</h2>
            <h2 class="section-heading">東大生による国際バカロレアセミナー</h2>
            <div class="space10px"></div>
            <div class="space10px"></div>
            <h3 class="section-heading">国際バカロレア満点取得者と元桜蔭生が語る</h3>
            <div class="space10px"></div>
            <h3 class="section-heading">国内外の学びの違いと親ができること</h3>
            <div class="space10px"></div>
            <div class="space10px"></div>
            <h4 class="section-heading">協力:東大家庭教師友の会　EDUBAL</h4>
            <div class="space10px"></div>
            <div class="space10px"></div>
            <h4 class="section-heading">会場:東京都渋谷区渋谷2-14-17</h4>
            <h4 class="section-heading">株式会社トモノカイ 6Fセミナースペース</h4>
            <div class="space10px"></div>
            <h4 class="section-heading">セッション１：10:00~12:00</h4>
            <h4 class="section-heading">セッション２：14:00~16:00</h4>
            <div class="space10px"></div>

            <h4 class="section-heading">参加費：1500円</h4>
            <div class="space10px"></div>
            <hr class="light">
            <p class="text-faded"></p>
            <a href="#register" class="btn btn-default btn-xl">Register Now!</a>
          </div>
        </div>
      </div>
    </section>

<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">概要</h2>
            <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
              <div class="space10px"></div>
              <div class="space10px"></div>
              <h3>1. 世界で話題の国際バカロレアとは</h3>
              <div class="space10px"></div>
              <h3>~日本と海外の国際バカロレア~</h3>
              <div class="space10px"></div>
              <div class="space10px"></div>
              <p class="text-muted">
                <div>
                  今年から東大入試でも使うことができるようになった国際バカロレア資格。世界で注目される、幼稚園から高校までの教育プログラムです。
                </div>
                <div>
                  0.085%以下しかいない満点取得者の東大生　岡庭が、
                </div>
                <div>
                  その概要と幼稚園から高校までの進路の選択肢をご紹介します。
                </div>
              </p>
          </div>
        </div>

    <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
            <div class="space10px"></div>
            <div class="space10px"></div>
            <h3>2.国際バカロレアと日本・桜蔭の違い</h3>
            <div class="space10px"></div>
            <div class="space10px"></div>
            <p class="text-muted">
            <div>
              具体的には日本の教育と、「先進的」といわれる海外の教育とはどう違うのか、
            </div>
            <div>
              東大入試や学校生活などのエピソードを豊富にお伝えします。
            </div>
        </p>
      </div>
    </div>

   <div class="col-lg-3 col-md-6 text-center">
      <div class="service-box">
        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
        <div class="space10px"></div>
        <div class="space10px"></div>
        <h3>3.それぞれの環境で親ができること</h3>
      <div class="space10px"></div>
      <div class="space10px"></div>
      <p class="text-muted">
        <div>
          海外・帰国子女、そして国内生として育った私たちが、
        </div>
        <div>
          質問もお受けしながら、家庭でのサポートを振り返ります。
        </div>
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
            <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
            <div class="space10px"></div>
            <div class="space10px"></div>
            <h3>4.Q＆A</h3>
          <div class="space10px"></div>
          <div class="space10px"></div>
          <p class="text-muted">受験から課外活動、留学まで、</p>
          <p class="text-muted">みなさまのご質問にお答えします。</p>
        </div>
    </div>
    </div>
  </div>
</section>

<%= render 'speakers'%>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action", id="register">

            <div class="space10px"></div>
            <div class="space10px"></div>
            <h2>お申し込み</h2>
            <h4>学校選択でみなさまのお役に立てるよう、</h4>
            <h4>ご存知の幼稚園・学校の評価をお書きください！</h4>
            <div class="space10px"></div>
            <%= render 'form'%>
            <div class="space10px"></div>
            <h6> キャンセルは下記Contactよりお願いいたします。 </h6>
        </div>
    </div>
</aside>


<%= render 'mapandcontact'%>

</body>
</html>
